@media screen and (max-width: 610px) {
    .options-box {
        width: 300px;
        position: absolute;
        -webkit-transform: translate(-300px, 0);
        transform: translate(-300px, 0);
        transition: transform 0.3s ease;
    }
}

html,
body {
    font-family: "Helvetica Neue";
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    position: relative;
}

input {
    font-size: 12px;
}

h1 {
    font-size: 30px;
    margin: 10px 0 30px 0;
    text-align: center;
}

h2 {
    font-size: 22px;
    margin: 0 10px 0 0;
    text-align: left;
}

#map {
    bottom:0px;
    height: 100%;
    left: 362px;
    position: absolute;
    right: 0px;
}

.options-box {
    background-color: mintcream;
    height: 100%;
    line-height: 35px;
    padding: 10px 10px 30px 10px;
    text-align: left;
    width: 340px;
}

#pano {
    width: 200px;
    height: 200px;
}

#places-search,
#search-within-time-text {
    width: 84%;
}

.text {
    font-size: 12px;
}

#toggle-drawing {
    width: 27%;
    position: relative;
    margin-left: 10px;
}

#zoom-to-area-text {
    width: 70%;
}

#zoom-to-area {
    width: 24%;
}